<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
{% load staticfiles %}
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
</style>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <a class="navbar-brand" href="/">IotPanel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
	  <li class="nav-item"> <a class="nav-link" href="/">Home </a> </li>
      <li class="nav-item"> <a class="nav-link" href="/panel/">Panel</a> </li>
      <li class="nav-item"> <a class="nav-link" href="/about/">About Me </a> </li>
      <li class="nav-item"> <a class="nav-link" href="/more/">More </a> </li>
    </ul>
  </div>
</nav>
{% block content %}

{% endblock %}
<footer class=" bg-dark text-light">
	<div class="footer-copyright text-center py-3">
	<h5>&copy; It's Over 9000! All rights reserved. A site by Rishabh Prajapati 
		<span><em>#HigherPerspectives</em></span> </h5>
	</div>
</footer>
</body>
</html>