{% extends "Panel/base.html" %}

{% block content %}
<div class="container">
	<h2>Table Viewer</h2>
	<form action="\panel\" method="post">
		
		{% csrf_token %}
		
		{{form}}
		
		<button type="submit">Show</button>
	</form>
	
	<table class="table">
		{% for item in data %}
		<tr>
			<td>{{item.user_id}}</td>
			<td>{{item.user_name}}</td>
			<td>{{item.contacts}}</td>
			<td>{{item.is_at}}</td>
		</tr>
		{% endfor %}
		
	</table>
	
</div>
{% endblock %}
