* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

input, button, submit {border: none; outine: none;}

@font-face {
    font-family: headerFont;
	src: url("../fonts/Sary/Fonts/Sary Soft SemiBlod.otf");
}

body {
    background-color: antiquewhite;
    font-family: "Calibri",serif;
}

.stickybar {
	height: 40px;
    width: 100%;
    background-color: cadetblue;
    position: fixed;
	padding: 15px;
	top:0;
	z-index: 1000;
	box-shadow: 0px 3px 3px grey;
}

.pageheader {
	padding-left: 20px;
    vertical-align: middle;
    font-family: headerFont;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    font-size: 36px;
}

.contentBody {
    padding: 100px 30px 30px 30px;
	margin: 0 auto;
    height: 1000px;
	width: 90%;
	background: white;
	box-shadow: 0px 0px 3px 0 grey;
}

button {
	padding: 8px;
    background: white;
    outline: none;
	box-shadow: 0 2px 0 0 grey;
    color: darkslategray;
	position: relative;
    transition: 0.2s border;
    transition: 0.2s color;
	border-width: 3px;
	border-radius: 2px;
	border-color: lightsalmon;
}

button:hover {
	bottom: 1px;
	box-shadow: 0 3px 3px grey;
    background-color: lightsalmon;
    color: white;
}

button:active {
	top: 2px;
	box-shadow: 0 1px 0 0 grey;
}

.stickybar > button {
	position: relative;
	right: 20px;
	margin: 5px;
    float: right;
}

.navbar {
	margin: auto;
	text-align: center;
	position: relative;
	top: 70px;
	background-color: white;
	box-shadow: 0px 1px 5px 0 grey;
}

.navbar li{
	display: inline-block;
}
.navbar li a{
	text-decoration: none;
	display: block;
	padding: 20px;
	color: darkcyan;
	transition: 0.2s all;
}

.navbar li a:hover {
	background-color: lightsalmon;
	color: white;
}

.panel {
	padding: 20px;
	margin: 0 auto;
	border: 2px solid grey;
	border-radius: 10px;
}

.footer {
	background: radial-gradient(rgb(50,100,100), rgb(25,50,50));
	color: white;
	text-shadow: 0 0 5px white;
	display: block;
	vertical-align: middle;
	text-align: center;
	padding: 20px;
	box-shadow: 0px -2px 10px 0 cadetblue;
}

.footer em {
	font-family: "forte";
	float: right;
}